---
import EventEmptyState from "./EventEmptyState.astro";
import UpcomingEventCard from "./UpcomingEventCard.astro";
import type { EventOccurrence } from "../../lib/events/model";

interface Props {
  occurrences: EventOccurrence[];
  emptyMessage?: string;
  showSummary?: boolean;
  compactCards?: boolean;
}

const {
  occurrences,
  emptyMessage = "Aktuell sind keine oeffentlichen Termine im Voraus eingetragen.",
  showSummary = true,
  compactCards = false,
} = Astro.props;
---

{
  occurrences.length > 0 ? (
    <ul class="mt-5 space-y-4">
      {
        occurrences.map((occurrence) => (
          <li>
            <UpcomingEventCard occurrence={occurrence} showSummary={showSummary} compact={compactCards} />
          </li>
        ))
      }
    </ul>
  ) : (
    <div class="mt-5">
      <EventEmptyState message={emptyMessage} />
    </div>
  )
}
